.card {
    width: 16rem;
    padding:10px;
    margin-left:10px;
    margin-right:10px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 3px 3px 2px 1px #CCC;
}

.card img {
    margin: 0 auto;
    width:13rem;
    height:200px;
}